.buttons {
  max-width: 400px;
  display: flex;
  flex-wrap: wrap;
}

/* 
These styles will apply to every button in your entire application, 
not just buttons in the KeyPad component.
Try writing a more specific selector!
*/
button {
  flex: 1 25%;
  padding: 15px;
  font-size: 1.3em;
  flex-grow: 1;
  flex-basis: 25%;
  background-color: #ddeedd;
}

.operator {
  background-color: #96ceb4;
}

.darkgreen {
  background-color: #86af49;
}
