.app {
  height: 10rem;
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

.calculator {
  max-inline-size: 22rem;
  border-radius: 4.5px;
  overflow: hidden;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15),
    0px 2px 4px 0px rgba(0, 0, 0, 0.12); /* Give the calculator some depth off the page */
  color: hsl(202, 11%, 29%);
}
